The gold sequence for this example. Each line should be a new example. In the corresponding line in the *.source file is the original text. This text is the desired generation for that source. So if this was a summarization task, the *.source file would have the full article, and this would be the summarization. The Nth line of this file corresponds to the Nth line of the *.source file.
